/* Global styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('img/hack.jpg');
    background-repeat: no-repeat;
    background-size: cover;
 }
 
 header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
 }
 
 .logo img {
    height: 40px;
    margin-right: 10px;
 }
 
 main {
    padding: 20px;
 }
 
 footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
    margin: 0;
 }
 
 table {
    border-collapse: collapse;
    width: 100%;
 }
 
 table th,
 table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
 }
 

/* Specific styles for index.html */
 
.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
 }
  
 .logo img {
   max-width: 80%;
   height: auto;
 }
  
 #login-form {
   background-color: #fcb024;
   padding: 60px;
   border-radius: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
 }
  
 #login-form label {
   margin: 10px 10;
 }
  
 #login-form input {
   padding: 10px;
   border: none;
   background-color: #faf7f7;
   color: #0c0c0c;
   border-radius: 5px;
   margin: 5px 0 20px 0;
   width: 130%;
 }
  
 #login-form button {
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   background-color: #31a11b;
   color: #fff;
   font-weight: bold;
   cursor: pointer;
 }
 
 
 /* Specific styles for employees-active.html */

/* Reset default browser styles */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }
 
 /* Global styles */
 body {
   font-family: Arial, sans-serif;
   font-size: 16px;
   line-height: 1.5;
   background-color: #f7f0f0;
 }
 
 header {
   background-color: #fcfcfc;
   color: #fff;
   padding: 3px;
   display: flex;
   justify-content: space-between;
   align-items: right;
 }
 
 .logo img {
   width: 100px;
 }
 
 main {
   max-width: 1200px;
   margin: 0 auto;
   padding: 20px;
 }
 
 form {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 20px;
 }
 
 #addButton {
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   background-color: #2ecc71;
   color: #fff;
   cursor: pointer;
 }
 
 #addButton:hover {
   background-color: #095e2c;
 }
 
 #clearAll {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
}

#clearAll:hover {
  background-color: #1c638d;
}


 #exitButton {
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   background-color: #e74c3c;
   color: #fff;
   cursor: pointer;
 }
 
 #exitButton:hover {
   background-color: #c0392b;
 }
 
 table {
   background-color: #faab5b;
   color: #070000;
   width: 81%;
   border-collapse: collapse;
   margin-bottom: 20px;
   max-height: 100px; /* definindo a altura máxima da tabela */
   overflow-y: scroll; /* permitindo a rolagem vertical */
   position: 0; /* fixando a posição da tabela na página */
   /* bottom: 0; definindo a distância do fundo da página */
 }

 
 thead {
   background-color: #153a8a;
   color: #fffdfd;
 }
 
 th,
 td {
   padding: 10px;
   text-align: left;
   border: 1px solid #ccc;
 }
 
 /* .awsCertificate {
   transform: scale(1.5);
   margin: 0 auto; 
   display: block;
 } */
 
 .removeButton {
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   background-color: #e74c3c;
   color: #fff;
   cursor: pointer;
 }
 
 .removeButton:hover {
   background-color: #c0392b;
 }
 
 /* Media query for smaller screens */
 @media (max-width: 767px) {
   header {
     flex-direction: column;
     text-align: center;
   }
 
   .logo img {
     margin-bottom: 10px;
   }
 
   #addButton,
   #exitButton {
    display: block;
    margin-bottom: 10px;
   }
 }
 